<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bellota|Fredoka+One&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome Back!</h1>
    <form action="/session" method="POST">
      <input type="text" name="username" placeholder="Who are you?" /><br/>
      <input type="password" name="password" placeholder="What the secret code?" /><br/>
      <input type="submit" value="Log In" /><br/>
    </form>
  </body>
</html>
