<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>We Hate Plants!</h1>
    <nav>
        <ul>
            <li>
                <a href="/session/new">Log In</a>
            </li>
            <li>
                <a href="/users/new">Sign Up</a>
            </li>
        </ul>
    </nav>
  </body>
</html>
