<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bellota|Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/home.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>We Hate Plants!</h1>
      <nav>
          <ul>
              <li>
                  <a href="/session/new">Log In</a>
              </li>
              <li>
                  <a href="/users/new">Sign Up</a>
              </li>
          </ul>
      </nav>
      <p>Don't you just hate plants? Do you ever just want to harm something for your own personal enjoyment and have absolutely no repercussions? Well this is a great website for you! This website shows you all different ways to rip apart plant families and torture them to keep your own tummy happy.</p>
    </div>
  </body>
</html>
