body {
  text-align: center;
  background-color: #A1C8CE;
  font-family: 'Bellota', cursive;
}
h1 {
  color: #e500c5;
  text-shadow: 2px 2px 2px 	#efc681;
  font-family: 'Fredoka One', cursive;
  font-size: 45px;

}
form {
  color: #cc0018;
  text-shadow: 2px 2px 2px 	#efc681;
  font-size: 30px;
  padding: 20px;
}
.button {
  height: 25px;
  width: 90px;
  border-radius: 10px;
  background-color: #f160a2;
  color: #6ed419;
  font-weight: bolder;
}
