<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bellota|Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/recipes.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Which plants are you going to murder today?</h1>

    <% for(let i = 0; i < recipe.length; i++) { %>
      <ul>
        <li><img src="<%=recipe[i].image%>" alt="food"></li>
        <li class="name"><a href="/recipes/<%=recipe[i].id%>"><%=recipe[i].recipeName%></a></li>
      </ul>
      <form action="/recipes/<%=recipe[i].id%>?_method=delete" method="POST">
          <input class="delete" type="submit" value="Delete">
      </form>


    <% } %>
    <div class="links">
      <a class="link" href="/recipes/new">Share a recipe?</a>
      <a class="link" href="/">Sign Out</a>
    </div>
  </body>
</html>
